<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>

</head>
<body>
<h1>du är på admin</h1>
<h3 th:text="${username}"></h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Namn</th>
        <th>Pris</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.empty}">
        <td>Inga produkter ännu</td>
    </tr>
    <tr th:each="product : ${products}">
        <td><span th:text="${product.id}"></span></td>
        <td><span th:text="${product.name}"></span></td>
        <td><span th:text="${product.price}"></span></td>
    </tr>
    </tbody>
</table>

<a th:href="@{~/logout}">Logga ut här </a>
</body>
</html>