<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head"></head>
<body>
<nav th:include="fragments/header"></nav>

<div class="container">
    <h1>du är på admin</h1>
    <h3 th:text="${username}"></h3>


    <div class="row">
        <div class="col s12 m6 l3" th:each="product : ${products}">
            <div class="card hoverable">
                <div class="card-image">
                    <img th:src="${product.imageUrl}">
                    <span class="card-title grey darken-1" th:text="|${product.name} ${product.price} kr|"></span>
                </div>
                <div class="card-content">
                    <p th:text="${product.description}"></p>
                </div>
                <div class="card-action">
                    <a th:href="@{/admin/removeproduct/}+${product.id}">Ta bort</a>
                    <a th:href="@{/admin/add-product/}+'?id='+${product.id}">Ändra</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>