<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head"></head>
<body>
<nav th:include="fragments/header.html"></nav>

<div class="container">


    <div class="row">
        <h4 th:text="'Beställningsnummer: ' + ${order.id}"></h4>
        <h4 th:text="'Beställd av: ' + ${order.user.username}"></h4>
        <h4 th:text="'Kundnummer: ' + ${order.user.id}"></h4>
        <h4 th:text="'Totala beloppet : ' + ${order.total} + ' kr'"></h4>
        <h4 th:text="'Skapad : ' + ${order.created}"></h4>
        <h4 th:text="${order.expedited} ? 'Order skickad: ' + ${order.expedited} : 'Order skickad: NEJ'"></h4>
    </div>


    <div class="row">
        <table>
            <thead>
            <tr>
                <th>Produkt</th>
                <th>Antal</th>
                <th>Summa</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item: ${items}">
                <td th:text="${item.product.name}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="${item.sum}"></td>
            </tr>

            </tbody>
        </table>
    </div>


    <div class="row" th:if="${order.expedited == null}">
        <div class="s12">
            <form action="#" th:action="@{/admin/expediteproduct/}+${order.id}" method="post">
                <button class="btn waves-effect waves-light" type="submit" name="action">Skicka beställningen
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>


</div>
</body>
</html>