<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head"></head>
<body>
<nav th:include="fragments/header.html"></nav>

<div class="container">
    <h1>Beställningar</h1>
    <div class="row">
        <div class="s12">

            <form action="#" th:action="@{/admin/orders/}" th:object="${form}" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Sök användare" id="user_username" type="text" class="validate" th:field="*{firstInput}">
                        <label for="user_username">Användarnamn</label>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Sök användare
                            <i class="material-icons right">send</i>
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Användare</th>
                <th>Total</th>
                <th>Skapad</th>
                <th>Skickad</th>
                <th>Se detaljer</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="order: ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.user.username}"></td>
                <td th:text="${order.total}"></td>
                <td th:text="${order.created}"></td>
                <td th:text="${order.expedited}"></td>
                <td><a class="waves-effect waves-light btn" th:href="@{/admin/orders/}+${order.id}">Detaljer</a></td>

            </tr>

            </tbody>
        </table>
    </div>

</div>
</body>
</html>


<!--<tbody>-->
<!--<tr th:each="product : ${products}">-->
<!--    <td th:text="${product.title}"></td>-->
<!--    <td th:text="${product.description}"></td>-->
<!--    <td th:text="${product.articleNumber}"></td>-->
<!--    <td th:text="${product.category}"></td>-->
<!--    <td th:text="${product.price}"></td>-->
<!--    &lt;!&ndash;                    <td><input type="text" name="quantity" placeholder="quantity"></td>&ndash;&gt;-->

<!--    &lt;!&ndash;Nytt&ndash;&gt;-->
<!--    <td><input type="quantity" th:name="quantity" placeholder="Quantity"/></td>-->


<!--    <td>-->
<!--        <form action="#" th:action="@{/user/addToCart/}" th:object="${form}" method="post">-->
<!--            <input type="hidden" th:name="id" placeholder="id" th:field="*{id}"/>-->
<!--            <input type="text" th:name="quantity" placeholder="Quantity" th:field="*{quantity}"/>-->
<!--    </form>-->
<!--    </td>-->


<!--</tr>-->
<!--</tbody>-->