<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head"></head>
<body>
<nav th:include="fragments/header.html"></nav>

<div class="container">
    <h1>Användare</h1>
    <div class="row">
        <div class="s12">

            <form action="#" th:action="@{/admin/users/}" th:object="${form}" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Sök användare" id="user_username" type="text" class="validate" th:field="*{firstInput}">
                        <label for="user_username">Användarnamn</label>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Sök användare
                            <i class="material-icons right">send</i>
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Användare</th>
                <th>Total summa i kundvagnen</th>
                <th>Roll</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.cart.total}"></td>
                <td th:text="${user.authority}"></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>
</body>
</html>